/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=============================
Custom Styles
=============================
*/

body {
    background: #333333;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "helvetica Neue", Arial;
}

/*
=============================
Grid
=============================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
=========================
Clearfix
=========================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/*
=========================
Rows
=========================
*/

.row,
.row-alt {
    min-width: 100%;
}

.row {
    background: #fff;
    padding: 66px 0 44px 0;
}

.row-alt {
    background: #333333;
    background: -webkit-linear-gradient(to right, #314d26, #6b7243);
    background:    -moz-linear-gradient(to right, #314d26, #6b7243);
    background:         linear-gradient(to right, #314d26, #6b7243);
    padding: 44px 0 22px 0;
}

/*
=========================
Typography
=========================
*/

.about-headings h3{
    font-size: 21px;
    margin-top: 22px;
    margin-bottom: 0px;
}

h1, h3, h4, h5, p {
    margin-bottom: 22px;
    color: #6b7243;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.leading-paragraph {
    margin-top: 6px;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

.container,
.grid {
    margin: 0 auto;
    width: 100%;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    padding-left: 15px;
}

p a {
    font-weight: 400;
}

span b {
    float: right;
    font-size: 80%;
    padding-right: 70%;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.warning {
    color: #ff0000;
    font-weight: 400;
}

/*
=============================
Buttons
=============================
*/

/* Dropdown button*/
.dropbtn {
    border: none;
    background-color: #373550;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 16px;
    width: 160px;
}

.btn-alt {
    border: 1px solid #fff;
    color: #fff;
    padding: 16px;
}

.btn-alt:hover {
    background: #fff;
    color: #373550;
}

.btn-d3 {
    background: #333333;
    border: 1px solid #6b7243;
    color: #fff;
    padding: 3px;
 }

.btn-d3:hover {
    background: #fff;
    color: #6b7243;
}

/* Dropdown button position */
.drop-down {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropDown-content {
    background-color: #6b7243;
    border-radius: 10px;
    box-shadow: 10px 0 0 0 rgba(51, 51, 51, 0.3);
    display: none;
    margin-left: 16px;
    min-width: 160px;
    position: absolute;
    text-align: center;
    z-index: 999;
}

/* Links inside the dropdown */
.dropDown-content div {
    color: #fff;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropDown-content
div:hover {
    border-radius: 10px;
    background-color: #fff;
    color: #333333;
}

/* Show the dropdown menu
(use JS to add this class to the .dropdown-content container when the user
 clicks on the dropdown button) */
.show {display:block;}


/*
=========================
Code Block
=========================
*/

pre {
    background-color: #333333;
    border-radius: 0.25em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
    counter-reset: line;
    font-family: monospace;
    line-height: 0;
    margin: 2em auto;
    padding: 0.5em;
}

pre span {
    color:#ffffff;
    display: block;
    line-height: 1.5rem;
}

pre span:before {
    border-right: 1px solid #c8bd92;
    color: #c8bd92;
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0 0.5em;
    text-align: right;
    width: 3em;
}

/*
=========================
Columns
=========================
*/

.col-1-4 {
    width: 25%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.col-450 {
    width: 450px;
}

.col-2-3 {
    width: 66.66%;
}

.col-3-4 {
    width: 74.9%;
}

.col-1-1{
    width: 100%;
}

.col-1-4,
.col-1-3,
.col-1-2,
.col-2-3,
.col-3-4,
.col-1-1,
.col-450 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-4,
.col-1-3,
.col-1-2,
.col-2-3,
.col-3-4,
.col-1-1 {
    padding-left: 15px;
    padding-right: 15px;
}

/*
=========================
Comments
=========================
*/

.comments {
    padding-left: 30px;
    padding-right: 30px;
}



/*
=========================
D3
=========================
*/

/*
++++++++++
Nodes
++++++++++
*/

.node {
    cursor: pointer;
    fill: #fff;
}

.node circle {
    fill: #fff;
    stroke: black;
    stroke-width: 1e-6;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    opacity: 0.3;
    stroke: #fff;
    stroke-width: 1px;
}

/*
++++++++++
Legend Font
++++++++++
*/

.d3 p {
    color: #fff;
    font: 12px sans-serif;
    margin: 0px;
    padding: 1px;
}

/*
++++++++++
Legend
++++++++++
*/

.legend-box {
    border: 1px solid #6b7243;
    margin-top: 5mm;
    width: 12ch;
}

.legend-title {
    font: 14px sans-serif;
    text-align: center;
}

.legend-text {
    margin-left: 3mm;
    vertical-align: middle;
}

.legend-database {
background: #787f51;
}

.legend-documentation {
    background: #824937;
}

.legend-python{
background: #cd5b1b;
}

.legend-visualization {
background: #c19408;
}

.legend-web-scraping{
    background: #c8bd92;
}

.legend-database,
.legend-documentation,
.legend-python,
.legend-visualization,
.legend-web-scraping {
    float: left;
    height: 12px;
    margin: 0px;
    padding: 0px;
    width: 12px;
    vertical-align: middle;
}
/*
++++++++++
Legend Lines
++++++++++
*/
.line-no-space {
    border-color: #6b7243;
    margin: 0px;
    padding: 0px;
}

/*
=========================
Home
=========================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}

.hero p{
    color: #fff;
    font-size: 24px;
    font-weight: 100;
}

.teaser img{
    border-radius: 5px;
    display: block;
    height: 200px;
    margin-bottom: 22px;
    max-width: 100%;
}

.teaser a:hover h3 {
    color: #a9b2b9;
}

/*
=========================
HTML
=========================
 */
.nba-bokeh {
    height: 600px;
    width: 1000px;

}.nyc-bokeh {
    height: 600px;
    width: 425px;
}

/*
=========================
Images
=========================
 */

.about-img {
    border-radius: 50%;
    height: 130px;
}

.about-blog-img {
    display: block;
    height: 350px;
    margin: auto;
}

.avatar img {
    border-radius: 15% 50%;
    display: block;
    margin: auto;
}

.center-img,
.pandas-best {
    display: block;
    margin: auto;
    padding-top: 22px;
}

.nba-stats {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    right: 0px;
}
.pandas-best {
    width: 700px;
}

.thesis-img {
    display: block;
    height: 150px;
    margin: auto;
}

/*
=========================
Links
=========================
*/

a:hover {
    color: #a9b2b9;
}

a {
    color: #6b7243;
    text-decoration: none;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

/*
=============================
Lists
=============================
*/

ol {
    padding: 3px 0px 30px 30px;
}

.ol-nest {
    font-size: 16px;
    list-style-type: lower-roman;
    padding: 3px 0px 3px 30px;
}

table ol {
    padding: 3px 0px 3px 30px;
}

ol,
table ol {
    font-size: 16px;
    list-style-type: decimal;
}

ul {
    padding: 3px 0px 3px 30px;
}

.ul-middle {
    font-size: 16px;
    padding: 3px 0px 30px 30px;
}

ul,
.ul-middle {
    font-size: 16px;
    list-style-type: disc;
}

.ul-nest {
    font-size: 16px;
    list-style-type: square;
}

.ul-contents {
    border: 1px solid black;
    font-size: 18px;
}

/*
=============================
Navigation
=============================
*/

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}

/*
=============================
Primary Header
=============================
*/

.logo {
    border-top: 4px solid #6b7243;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 44px;
    padding: 40px 0 0 0;
    text-transform: uppercase;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}

.primary-footer small {
    float: left;
}

.primary-footer {
    color: #6b7243;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #6b7243;
}

/*
=============================
Tables
=============================
*/

.bb {
    border-bottom: 1px solid black;
}

.schema {
    padding-left: 15px;
}

.schema-text {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.schema table {
    padding-bottom: 44px;
    width: 95%;
}

.schema td:nth-child(even) {
    background-color: #f0f2f0;
}

.schema td h5 {
    background: -webkit-linear-gradient(to right, #314d26, #6b7243);
    background:    -moz-linear-gradient(to right, #314d26, #6b7243);
    background:         linear-gradient(to right, #314d26, #6b7243);
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px;
}

.schema td h6 {
    font-weight: 400;
    padding-left: 10px;
}

.schema th {
    font-weight: bold;
    padding-right: 10px;
    text-align: left;
}

.schema-top {
    padding-top: -44px;
}

.schema-middle {
    padding-top: 44px;
}
